<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sjcj.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9CE105FB81970A62896DD521A64DDD084F2AAA5E</string>
				<key>dateExpires</key>
				<string>2021/6/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N2GGU49FK5.com.u-bim.sjcj</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N2GGU49FK5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>N2GGU49FK5.com.u-bim.sjcj</string>
				</array>
			</dict>
			<key>name</key>
			<string>sjcj.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>851ada65-d450-4c9b-95cf-f277310e9e66</string>
				<key>name</key>
				<string>ydsjcj</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N2GGU49FK5</string>
				<key>name</key>
				<string>Guangzhou uBIM Construction Consulting Co. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
