<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sjcj.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2D45FEAACA5804596886F8377D106520BA465AEF</string>
				<key>dateExpires</key>
				<string>2022/9/3</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N2GGU49FK5.com.u-bim.sjcj</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N2GGU49FK5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>N2GGU49FK5.com.u-bim.sjcj</string>
				</array>
			</dict>
			<key>name</key>
			<string>sjcj.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>49740d5e-ea7b-4ffd-a9f4-4d940d897707</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.u-bim.sjcj</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N2GGU49FK5</string>
				<key>name</key>
				<string>Guangzhou uBIM Construction Consulting Co. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
