<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/York-2014/sjcj/blob/master/sjcj.ipa</string>
		<key>displayImageURL</key>
		<string>https://raw.githubusercontent.com/York-2014/sjcj/master/logo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://raw.githubusercontent.com/York-2014/sjcj/master/logo.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>N2GGU49FK5</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
